alembic==1.13.2
email-validator==2.2.0
fastapi==0.112.2
passlib[bcrypt]==1.7.4
psycopg[binary]==3.2.1
pydantic-settings==2.4.0
python-jose[cryptography]==3.3.0
SQLAlchemy==2.0.32
uvicorn[standard]==0.30.6
